<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>


<blockquote>
  <p><%= @question %></p>
  <cite>You</cite>
</blockquote>


<blockquote class="coach">
  <p><%= @answer %></p>
  <cite>Stupid Coach</cite>
</blockquote>

<%= link_to "Ask another question", ask_path %>
